body{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

header {
    background-color: #F24405;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 200px;
}

.titulo-header {
    width: 75%;
    font: bold 6em impact;
    text-align: center;
    text-shadow: 3px 3px 5px white;
}

.menu-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 0;
    width: 500px;
    height: 150px;
    margin: 0;
    padding: 0;
}

header > ul > li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #F2F2F2;
    border-radius: 10px;
    width: 130px;
    height: 50px;
    margin-right: 5px;
}

ul > li:hover {
    background-color: #F2F2F2;
    color: black;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}

a{
    text-decoration: none;
    font-size: 2em;
    font-weight: bolder;
    color: black;
}

nav > a:hover{
    color: #F24405;
}

img{
    border-radius: 60px;
    
}