@font-face {
    font-family: 'alfabet';
    src: url('../fonts/PLAYFUL\ ALPHABET_demo.otf') format('otf');
}

header{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
    outline: rgb(102, 0, 133) solid 2px;
    opacity: 0.7;
}

.logo {
    color: rebeccapurple;
    font-family: 'alfabet';
    font-size: 5em;
    font-weight: bolder;
    margin-left: 50px;
}

.logo:hover{
    text-shadow:3px 3px 5px white;
}

ul li {
    list-style: none;
    display: inline;
    margin-right: 30px;
}

a{
    font: bold 1em verdana;
    text-decoration: none;
    color: lavender;
}

a:hover{
    color: rebeccapurple;
    transition: 0.5s;
}

@media(max-width: 650px){
    ul {
        display: none;
    }
    
    header{
        justify-content: center;
    }

    .logo{
        margin: 0;
    }
}