*{
    margin: 0;
    padding: 0;
}

.sobreMin{
    padding: 20px;
    background: no-repeat fixed green;
    top: 20px;
    height: 60vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-top:10px ;
}

@keyframes nome{
    0%{right: 0px;}
    100% {right: calc(100% - 580px); }
}

.conteiner{
    width: 100%;
    height: 150px;
    display: block;
    position: relative;
}

.sobreMin h1{
    height: 200px;
    width: 580px;
    font-size:5em;
    position: absolute;
    right: 10px;
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    animation: nome 2s linear 1s 1 normal;
    animation-fill-mode: forwards;
}

.sobreMin ul li{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em ;
    display: list-item;
    list-style-type:square;
    margin-left: 50px;
    line-height: 60px;
}

@media(max-width: 650px){
    .sobreMin{
        justify-content: space-between;
        align-items: center;
    }
    .sobreMin h1{
        height: 160px;
        padding-left: 10%;
    }
}