body{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

header {
    background-color: #F24405;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 150px;
}

.titulo-header {
    width: 75%;
    font: bold 6em impact;
    text-align: center;
    text-shadow: 3px 3px 5px white;
}

.menu-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 0;
    width: 500px;
    height: 150px;
    margin: 0;
    padding: 0;
}

header > ul > li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #F2F2F2;
    border-radius: 10px;
    width: 130px;
    height: 50px;
    margin-right: 5px;
}

ul > li:hover {
    background-color: #F2F2F2;
    color: black;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 150px;
}

a{
    text-decoration: none;
    font-size: 2em;
    font-weight: bolder;
    color: black;
}

nav > a:hover{
    color: #F24405;
}

section{
    display: flex;
    flex-direction: column;
    background-color: black;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150vh;
}


.cards{
    background-color: #F27405;
    color: black;
    height: 400px;
    width: 400px;
    border-radius: 25px;
}

.cards:hover{
    background-color: white;
    transition: 0.5s;
    transform: rotate(-5px);
    background : url(fotoCarlos.png) no-repeat center center;
    background-size: contain;
}

footer {
    margin-top: 2000px;
    display: flex;
    position: relative;
    top: 5px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 200px;
    width: 100%;
    background-color: black;
    color: #F24405;
    margin-bottom: 5px;
    align-self: center;
    box-shadow: -5px -5px 10px rgb(48, 48, 48);
}

footer > div{
    font-weight: bold;
    font-size: 2em;
}

.email:hover{
    color: cornsilk;
}
